<div class="post-card">
    <!--
    {{#if feature_image}}
    <div class="post-card-img">
         <img src="{{img_url feature_image}}">
    </div>
    {{/if}}
    -->

    <div class="post-card-header">
        <header>
            <a href="{{url}}">
                <h2 class="post-card-title">{{title}}</h2>
            </a>
            {{#if tags}}
            <p>Tags: {{#foreach tags}}
                <a class="post-card-tags" href="{{url}}" title="{{name}}">{{name}}</a>
                {{/foreach}}
            </p>
            {{/if}}
            <span class="post-card-date">{{date published_at format="MMMM DD, YYYY"}}</span>
        </header>
    </div>
    <div class="post-card-content">
        <div class="container-fluid">

            <div class="row">
                <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}}">
                    {{#if feature_image}}
                    <div style="background-image: url({{feature_image}})"></div>
                    {{/if}}
                    <div>
                        <section>
                            <p class="post-card-excerpt">{{excerpt words="100"}}</p>
                        </section>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
