<div class="post-card">
    <div class="container-fluid">
        <div class="row">
            <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}}">
               {{#if feature_image}}
                    <a href="{{url}}">
                    <div  style="background-image: url({{feature_image}})"></div>
                </a>
                {{/if}}
                <div>
                <a href="{{url}}">
                    <header>
                        <h2 class="post-card-title" >{{title}}</h2>
                        {{#if primary_tag}}
                            <p class="post-card-tag">{{primary_tag.name}}</p>
                        {{/if}}
                    </header>
                    <section >
                        <p class="post-card-excerpt">{{excerpt words="100"}}</p>
                    </section>
                </a>
                <footer>
                    <span class="post-card-date">{{date published_at format="MMMM DD, YYYY"}}</span>
                </footer>
                </div>
            </article>
        </div>
    </div>
</div>

