{{!< default}}

    {{> "site-nav"}}
<div class="tags">
    <div class="tag-body">
        <div class="row">
            <div class="col-xs-12 col-lg-9">
                {{#tag}}
                <div class="tag-header">
                    <h1 class="tag-title">{{name}}</h1>
                    <div class="tag-description">
                    {{#if description}}
                        {{description}}
                    {{else}}
                        A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                    {{/if}}
                    </div>
                </div>
                 {{/tag}}
                    {{#foreach posts}}
                <div class="tag-content">
                 
                        {{> "post-card"}}
                   
                </div>
                 {{/foreach}}
                {{pagination}}
            </div>
            <div class="col-xs-12 col-lg-3">
                {{> "desktop-nav"}}
            </div>
        </div>
        </div>
    
        
</div>
 


